@function d($value) {
  @return (($value/14.4) * 1vw);
}

// [VARIABLES]

$font: "Quicksand";

$bg: #ececec;
$gray: #c4c4c4;
$block-bg: #fff;
$sidetext: #a7a7a7;
$black: #1b1b1b;
$hover: #f3f3f3;
$red: #cc4f4f;
$dark-gray: #2b2b2b;

$border-radius: 4px;

// [MIXINS]

@mixin block() {
  background: $block-bg;
  border-radius: $border-radius;
}

@mixin bgs($bg, $size, $position: center) {
  background-image: url("#{bg}");
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
}
